<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>NSPrivacyTracking</key>
        <true/>
        <key>NSPrivacyTrackingDomains</key>
        <array>
            <string>https://vast-cfg.covi.co.kr</string>
            <!-- 상용 config 서버 -->
            <string>https://cnp-vast.covi.co.kr</string>
            <!-- 상용 vast api 서버 -->
            <string>https://cnp-adsrv.covi.co.kr</string>
            <!-- 상용 이벤트 트래킹 광고 서버 -->
            <string>https://covi-plat-vast.beta.covi.co.kr/vast-cfg</string>
            <!-- 개발용 config 서버 -->
            <string>https://covi-plat-vast.beta.covi.co.kr</string>
            <!-- 개발용 vast api 서버 -->
            <string>https://covi-plat-adsrv.covi.co.kr</string>
            <!-- 개발용 이벤트 트래킹 광고 서버 -->
        </array>
        <key>NSPrivacyCollectedDataTypes</key>
        <!-- 앱이나 타사 SDK가 수집하는 각 데이터 유형에 대해 개인정보 파일의 배열에 사전을 추가하세요. -->
        <!-- NSPrivacyCollectedDataTypes키 아래에 NSPrivacyCollectedDataType, NSPrivacyCollectedDataTypeLinked, NSPrivacyCollectedDataTypeTracking, NSPrivacyCollectedDataTypePurposes 키를 추가합니다.-->
        <array>
<!--            광고 데이터 수집-->
            <dict>
                <key>NSPrivacyCollectedDataType</key>
                <string>NSPrivacyCollectedDataTypeAdvertisingData</string>
                <key>NSPrivacyCollectedDataTypeLinked</key>
                <false/>
                <key>NSPrivacyCollectedDataTypeTracking</key>
                <false/>
                <key>NSPrivacyCollectedDataTypePurposes</key>
                <array>
                    <string>NSPrivacyCollectedDataTypePurposeThirdPartyAdvertising</string>
                </array>
            </dict>
<!--            디바이스ID 수집-->
            <dict>
                <key>NSPrivacyCollectedDataType</key>
                <string>NSPrivacyCollectedDataTypeDeviceID</string>
                <key>NSPrivacyCollectedDataTypeLinked</key>
                <false/>
                <key>NSPrivacyCollectedDataTypeTracking</key>
                <true/>
                <key>NSPrivacyCollectedDataTypePurposes</key>
                <!-- NSPrivacyCollectedDataTypePurposes-->
                <!-- 앱이나 타사 SDK가 데이터를 수집하는 이유를 나열하는 문자열 배열입니다-->
                <!-- 앱이나 타사 SDK가 이 데이터 유형을 수집하는 이유와 일치하는 아래 목적 목록에서 값을 선택합니다.-->
                <array>
                    <string>NSPrivacyCollectedDataTypePurposeThirdPartyAdvertising</string>
                </array>
            </dict>
<!--            유저 상호작용 정보 수집-->
            <dict>
                <key>NSPrivacyCollectedDataType</key>
                <string>NSPrivacyCollectedDataTypeProductInteraction</string>
                <key>NSPrivacyCollectedDataTypeLinked</key>
                <false/>
                <key>NSPrivacyCollectedDataTypeTracking</key>
                <true/>
                <key>NSPrivacyCollectedDataTypePurposes</key>
                <array>
                    <string>NSPrivacyCollectedDataTypePurposeThirdPartyAdvertising</string>
                    <string>NSPrivacyCollectedDataTypePurposeAnalytics</string>
                </array>
            </dict>
        </array>
        <key>NSPrivacyAccessedAPITypes</key>
        <array>
<!--            이벤트 트래킹 로그 전송-->
            <dict>
                <key>NSPrivacyAccessedAPIType</key>
                <string>NSPrivacyAccessedAPICategorySystemBootTime</string>
                <key>NSPrivacyAccessedAPITypeReasons</key>
                <array>
                    <string>8FFB.1</string>
                </array>
            </dict>
        </array>
    </dict>
</plist>
